@page "/smartphones"

<PageTitle>Smartphones</PageTitle>
<div class="row">
    <div class="col-12">
        <RadzenTextBox Placeholder="Search Smartphone" Style="width: 910px"></RadzenTextBox>
    </div>
</div>
